body{
    background-color: #FFFFFF;
}
.main-body{
    background-color: #FFFDF7;
    border-top: 1px solid #C7C8C9;
}
.step-item {
    font-size: 0.875rem;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 20px;
}
.section-1-heading{
    font-size: 2.25rem;
    font-weight: 500;
}
.section-1-heading-text{
    font-size: 1rem;
    width: 63%;
    margin-left: 14rem;
}
.orange-text{
    color: #D75D33;
    font-weight: 700;
}
.orange-text-nobold{
    color: #D75D33;
}
.black-text{
    color: black;
    font-weight: 700;
}
.step-item.active {
    color: #3167FF;
    font-weight: 600;
}
.step-item.active:hover {
    text-decoration: none;
}

.step-item.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none; 
}

.step-separator {
    font-weight: bold;
    font-size: 0.85rem;
}

.step-content {
    min-height: 200px;
}
.section-1-card-head{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: -1rem;
}
.small-text{
    font-size: 0.875rem;
    font-weight: 500;
}
.section-1-price-plan{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: -1.1rem;
}
.section-1-price{
    font-size: 1rem;
    font-weight: 500;
}
.section-1-card-image-1, .section-1-card-image {
    overflow: hidden;
    border-radius: 1.2rem; 
    position: relative;
}

.section-1-card-image::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); 
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}
.meal-badge-pill {
    position: absolute;
    top: 10px;        
    left: 10px;       
    z-index: 10;      
    
    background-color: #ffffff;
    color: #000000;
    
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    pointer-events: none; 
}
.special-card-addon{
    position: absolute;
    top: 8.7rem;
    left: 0.75rem;
    z-index: 10;
    background-color: #D75D33;
    color: white;
    font-size: 0.75rem;
    padding: 4px 8px;
    font-weight: 600;
    width: 25%;
}
.section-1-card-image-inner-1 {
    display: block;
    width: 100%;
    transition: transform 0.4s ease; 
}
.section-1-card-image-inner{
    width: 100%;
    display: block;
    object-fit: cover;
}
.section-1-card{
    cursor: pointer;
    transition: transform 0.2s ease;
}

.section-1-footer-text{
    font-size: 0.85rem;
}
.section-1-button{
    width: 12%;
    color: white;
    background-image: linear-gradient(to right, #AF2081, #533174);
    font-weight: 600;
    border-radius: 4px;
    transition: width 0.4s ease;
}
.section-2-button{
    width: 31.5%;
    color: white;
    background-image: linear-gradient(to right, #AF2081, #533174);
    font-weight: 600;
    border-radius: 4px;
    transform: translateX(10.2%);
}
.section-3-button, .section-3-button-next{
    width: 100%;
    padding-left: 8px;
    color: white;
    background-image: linear-gradient(to right, #AF2081, #533174);
}

.section-4-button{
    width: 100%;
    color: white;
    background-image: linear-gradient(to right, #AF2081, #533174);
    font-size: 1rem;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
}


.section-1-footer-button .section-1-button:active{
    color: white;
}

.section-1-card.active-selection {
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: none;
}
.section-1-card.active-selection .card-content-wrapper {
    border: 2px solid #EFA186; 
    background-color: #fff9f5; 
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 1.2rem;
    height: 100%; 
}
.big-font{
    font-size: 3rem;
}
.delivery-date-container {
    width: 33%;
    max-height: 350px; 
    overflow-y: auto;
    transform: translateX(107%);
    padding: 0;
    overflow-x: hidden;
}

.date-entry {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 0px;
    background: #fff;
    border: 1px solid #707070;
    cursor: pointer;
    transition: border-left 0.1s ease, transform 0.5s ease;
    width: 95%;
    margin-left: auto;
    box-shadow: 0 1px 0 0 #707070;
}

.popular-badge {
    background-color: #ffffff;
    color: #D75D33;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.popular-badge i {
    color: #D75D33; 
    
}
.date-entry.active-date {
    border-left: 8px solid #D75D33;
}
.first-delivery-date-info{
    font-size: 0.75rem;
    font-weight: 600;
}
#first-delivery-date{
    font-weight: 800;
}
.date-entry p {
    margin: 0;
    font-size: 1.1rem;
}

.date-day {
    font-size: 14px;
    font-weight: 700;
}

.date-val {
    font-weight: 600;
    font-size: 14px;
    color: #555;
    margin-left: 5px; 
}

.delivery-date-container::-webkit-scrollbar {
    width: 10px;
}
.delivery-date-container::-webkit-scrollbar-thumb {
    background: #A6A6A6;
    border-radius: 10px;
}
.accordion-item {
    border: none;
    background: transparent;
}
.accordion-header {
    border-bottom: 1px solid #ddd; 
    padding-bottom: 7px;
}
.accordion-button {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 20px 0;
    font-weight: 500; 
    color: #000;
    font-size: 1rem;
    transition: color 0.3s ease;
    display: flex;
    justify-content: space-between;
}
.accordion-button:not(.collapsed) {
    color: #D75D33 !important; 
}
.accordion-button::after {
    content: '\f078'; 
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    background-image: none !important; 
    color: #D75D33;         
    transform: rotate(0deg) scale(1.12);
    transition: transform 0.3s ease;
    -webkit-text-stroke: 1px #D75D33; 
    paint-order: stroke fill;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg) scale(1.12);
    color: #D75D33;
    -webkit-text-stroke: 1px #D75D33; 
    paint-order: stroke fill;
}

.accordion-body {
    padding: 15px 0 25px 0;
    color: #444;
    text-align: start;
    padding-left: 25px;
    width: 95%;
}
#customAccordion{
    width: 83%;
    transform: translateX(6rem);
}
.section-3-card-image-container{
    width: 110%;
    overflow: hidden;
}
.section-3-card-border{
    border: 1px solid #DFDFDF;
}

.section-3-meal-name{
    font-weight: 700;
    font-size: 0.875rem;
    margin-bottom: -12px;
}
.section-3-meal-description{
    font-size: 0.75rem;
    color: #707070;
}

.section-3-card-ing{
    font-size: 0.65rem;
    color: #707070;
}
.section-3-card-ing .col-2{
    width: 18%;
}
.section-3-card-ing .col-4{
    width: 27.3%;
}
.section-3-card .special-card{
    background-color: #000000;
    color: #FFFFFF;
}
.special-card .section-3-meal-description{
    color: white;
    font-weight: 200;
}
.special-card .section-3-card-ing{
    color: white;
    font-weight: 200;
}
.section-3-right-heading{
    font-size: 0.75rem;
    padding: 0.75rem 0.2rem 0rem 0.3rem;
}
#section-3-delivery-date{
    font-weight: 700;
}
.full-line, .full-line-1{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    color: #EDEDED;
    opacity: 1;
}

.section-3-subtotal{
    font-size: 0.875rem;
}
.cart-pill {
    background-color: transparent; 
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.pill-cart-icon {
    width: 12.74px;
    height: 14.15px;
    display: block; 
    object-fit: contain;
}
.pill-number {
    font-size: 0.875rem;
    line-height: 1; 
}
.added-items{
    height: 500px;
}
.t-12{
    font-size: 0.75rem;
}
.s-3-img{
    width: 112px;
    height: 72px;
    padding-top: 3px;
    padding-left: 6px;
}
.s-3-added{
    background-color: #F3F3F3;
}
.s-3-order-summary{
    font-size: 0.875rem;
}
.dark-gray{
    color: #717171;
    font-size: 23px;
    font-weight: 600;
    padding-right: 2rem !important;
}
.pad-0{
    padding: 0;
}
.font-14{
    font-size: 0.875rem;
}
.font-12{
    font-size: 0.75rem;
}
.s-3-added-special{
    background-color: black;
    color: white;
}
.s-3-added-special .dark-gray{
    color: white;
}
.section-2-footer-button .section-2-button:active{
    color: white;
}
.section-3-card-ing .section-3-button:active, .section-3-right-footer .section-3-button-next:active, .section-3-right-footer .section-3-button-next:disabled{
    color: white;
    border: none;
}
.ml-11{
    margin-left: 11px;
    width: 96%;
}
.s-4-main-head{
    font-size: 23px;
    font-weight: 700;
}
.input-fields{
    border: 1px solid #9D9D9D;
    border-radius: 4px;
    height: 2.2rem;
}
.f-18{
    font-size: 1.125rem;
    font-weight: 700;
}
.form-content-wrapper, .order-content-wrapper, .my-meals-content-wrapper{
    background-color: white;
}
.s-4-order-label{
    margin-top: -0.25rem;
    font-size: 0.875rem;
    font-weight: 700;
}
.s-4-form-label{
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 700;
}
#checkboxx{
    font-weight: 400;
}
#checkboxx .form-check-input:focus{
    border-color: #dee2e6; 
    outline: 0;
    box-shadow: none;
}
#small-email{
    font-size: 0.84rem;
}
.s-4-meal-namedes{
    padding: 0;
}
.my-meals-content-wrapper{
    padding: 0;
    overflow-y: auto;
    max-height: 469px;
    overflow-x: hidden;
}
.my-meals-content-wrapper .s-3-added.s-4-added{
    background-color: white;
}
.my-meals-content-wrapper .s-3-added.s-4-added.s-3-added-special{
    background-color: black;
}
.my-meals-content-wrapper .s-3-added.s-4-added.s-3-added-special .text-muted{
    color: white !important;
}
.s-4-meal-counter{
    transform: translateX(9px);
}
.s-3-added.s-4-added .s-3-img{
    height: 66px;
}
.order-summary-container{
    position: sticky;
    bottom: 8.2rem;
}
.added-items-container {
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}
.section-3-right-footer {
    position: sticky;
    bottom: 0;
    top: 35rem;
}
.section-3-right-footer::before{
    content: "";
    position: absolute; 
    top: -6px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #00000029;
    border-radius: 15px;
    pointer-events: none; 
    z-index: -1; 
    
    transform: translateX(13px); 
    margin-left: -25px;
    transition: transform 0.3s ease;
}
.section-3-card-ing .border-end{
    position: relative;
    border-right: none !important;
}
.section-3-card-ing .border-end::after{
    content: "";
    position: absolute; 
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    border-right: 0.5px solid #EDEDED;
    pointer-events: none; 
    transform: translateX(-4px);
}
/*Responsive*/
@media (hover: hover) {
    .section-1-card:hover .section-1-card-image-inner-1 {
        transform: scale(1.1); 
    }
    .section-1-card:hover .section-1-card-image-inner{
        transform: scale(1.1);
    }
    .section-1-card:hover .section-1-card-image::after {
        animation: flash 0.3s ease-out;
    }

    .section-1-button:hover{
        width: 38%;
        color: white;
    }
    .date-entry:hover {
        transform: translateX(7px);
    }
    .section-3-button:hover{
        color: white;
        border: none;
    }
    .section-3-button-next:hover{
        color: white;
        border: none;
    }
    .section-2-button:hover{
        color: white;
    }
    .step-item:hover{
        text-decoration: underline;
    }
}
@media (min-width: 993px){
    .section-3-right{
        position: sticky;
        top: 20px;
        height: 700px;
        margin-top: 0rem;
        background-color: white;
        display: block;
        z-index: 1000;

    }
    .collapse-trigger {
        display: none !important;
    }
    
}

@media (max-width: 992px){
    .section-1-heading-text{
        margin-left: 0;
        width: 100%;
    }
    .section-1-button{
        width: 100%;
        transform: translateX(10px);
    }
    .delivery-date-container{
        width: 87%;
        transform: translateX(2rem);
    }
    #customAccordion{
        width: 100%;
        transform: translateX(0px);
    }
    .section-2-button{
        width: 85%;
        transform: translateX(5px);
        margin-top: 2rem;
    }
    .section-1-footer-button{
        margin-bottom: 2rem;
    }
    .accordion-header{
        padding-bottom: 1rem;
    }
    .section-3-card-image{
        object-fit: cover;
        object-position: center;
        width: 97%;
        height: 100%;
    }
    .section-3-card-image-container{
        height: 300px;
    }
    .section-3-meal-name{
        font-size: 1.3rem;
    }
    .section-3-card .section-3-card-border .ps-lg-2{
        padding-left: 1rem;
        margin-top: 1rem;
    }
    .section-3-meal-description{
        font-size: 0.84rem;
    }
    .section-3-card-ing{
        font-size: 0.8rem;
    }
    .section-3-button{
        width: 80%;
        margin-left: 10px;
        margin-bottom: 1.2rem;
    }
    .special-card-addon{
        top: 16.5rem;
        width: 30%;
        font-size: 1.3rem;
    }
    .section-3-right {
        position: fixed;
        top: auto; 
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0; 
        height: auto;
        z-index: 2000; 
        background-color: white;
    }
    .section-3-right-heading, 
    .full-line, 
    .added-items, 
    .collapse-trigger {
        display: none !important;
    }
    .section-3-right.expanded .section-3-right-heading, 
    .section-3-right.expanded .full-line, 
    .section-3-right.expanded .added-items, 
    .section-3-right.expanded .collapse-trigger {
        display: block !important;
    }
    .section-3-right.expanded .section-3-right-heading {
        display: flex !important;
        font-size: 14px;
    }
    .added-items {
        height: 45vh;
        overflow-y: auto;
    }
    .cart-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        z-index: 1055;
        display: none;
    }
    .added-items{
        height: 300px;
    }
    .section-3-right-footer {
        background-color: white !important; 
        position: relative;
        z-index: 10;
        padding: 10px 15px; 
        top: 0;
    }
    .section-3-right-footer .section-3-button-next{
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 2px;
    }
    .s-3-mobile-last{
        margin-bottom: 10rem;
    }
    .fa-chevron-down:before{
        font-size: 23px;
    }
    .s-3-all-cards{
        margin-left: 0.5rem;
    }
    .s-3-added .section-3-meal-name{
        font-size: 1.1rem;
        padding: 0;
    }
    .dark-gray{
        font-weight: 400;
        transform: scale(1.5);
    }
    .s-3-img{
        width: 200px;
        height: 110px;
    }
    .s-3-img-container .special-card-addon{
        font-size: 13px !important;
        bottom: 1px !important;
        width: 38% !important;
    }
    .minus-button{
        margin-top: 1rem;
    }
    .section-1-all-cards{
        padding-left: 1.15rem;
    }
    .s-4-main-head{
        font-size: 1.875rem;
        margin-left: 2rem;
    }
    .s-3-added.s-4-added .s-3-img{
        height: 100px;
    }
    .added-items-container{
        overflow-y: hidden;
    }

}
@media (max-width:767px) {
    .section-1-heading-text{
        width: 100%;
        margin-left: 0;
    }
    .section-1-card-head{
        font-size: 1.2rem;
    }
    .section-1-card-image{
        border-radius: 0rem;
    }
    .section-1-card-image-1{
        border-radius: 0;
    }
    .section-1-button{
        width: 100%;
        padding: 12px 0;
    }
    #customAccordion{
        width: 113%;
        transform: translateX(0px);
        margin-left: -1.5rem;
    }
    .accordion-body{
        padding-left: 0;
        width: 86%;
        margin-left: 1rem;
    }
    .big-font{
        font-size: 1.875rem;
        margin-left: 0.7rem
    }
    .delivery-date-container{
        width: 100%;
        transform: translateX(0px);
    }
    .section-2-button{
        transform: translateX(17px);
        width: 100%;
        margin-top: 2rem;
        padding: 13px 0;
    }
    .section-3-card{
        margin-left: 12px;
    }
    .section-3-card-image-container{
        height: 200px;
    }
    .special-card-addon{
        top: 10.6rem;
        width: 21%;
        font-size: 0.9rem;
    }
    .section-3-button, .section-3-button-next{
        margin-bottom: 0;
    }
    .added-items{
        height: 250px;
    }
    .s-3-all-cards{
        margin-left: 0;
    }
    .section-3-card-image{
        width: 96.5%;
    }
    .section-3-card-ing{
        font-size: 0.9rem;
    }
    .s-3-img{
        width: 112px;
        height: 80px;
    }
    .s-3-added .section-3-meal-name{
        font-size: 0.875rem;
    }
    .s-3-img-container .special-card-addon{
        font-size: 10px !important;
        width: 68% !important;
    }
    .minus-button{
        margin-top: 0;
    }
    .section-1-all-cards{
        padding-left: 0.65rem;
    }
    .s-3-added.s-4-added .s-3-img{
        height: 66px;
    }
    .section-1-heading{
        padding: 0 20px;
    }
    .accordion-mobile-space{
        margin-bottom: 47rem;
    }
    .s-4-main-head{
        margin-left: 0;
    }
    #content-4 .accordion-mobile-space-checkout{
        padding-bottom: 9.5rem !important;
    }
    
}
@keyframes flash {
    0% { opacity: 0; }
    30% { opacity: 0.8; } 
    100% { opacity: 0; }
}