body{
    background-color: #FFFFFF;
}
.main-body{
    background-color: #FFFDF7;
}
.step-item {
    font-weight: bold;
    color: #6c757d;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 20px;
}
.section-1-heading{
    font-size: 2rem;
    font-weight: 500;
}
.section-1-heading-text{
    font-size: 0.98rem;
    width: 58%;
    margin-left: 18rem;
}
.orange-text{
    color: #D75D33;
    font-weight: 700;
}
.black-text{
    color: black;
    font-weight: 700;
}
.step-item.active {
    color: #3167FF;
}

.step-item.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none; 
}

.step-separator {
    font-weight: bold;
    color: #dee2e6;
    font-size: 1.2rem;
}

.step-content {
    min-height: 200px;
}
.section-1-card-head{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: -1rem;
}
.small-text{
    font-size: 0.8rem;
    font-weight: 500;
}
.section-1-price-plan{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: -1.1rem;
}
.section-1-price{
    font-size: 0.95rem;
    font-weight: 500;
}
.section-1-card-image {
    overflow: hidden;
    border-radius: 1.2rem; 
    position: relative;
}
.meal-badge-pill {
    position: absolute;
    top: 10px;        
    left: 10px;       
    z-index: 10;      
    
    background-color: #ffffff;
    color: #000000;
    
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    pointer-events: none; 
}
.section-1-card-image-inner {
    display: block;
    width: 100%;
    transition: transform 0.4s ease; 
}
.section-1-card{
    cursor: pointer;
    transition: transform 0.2s ease;
}

.section-1-footer-text{
    font-size: 0.85rem;
}
.section-1-button{
    width: 12%;
    color: white;
    background-image: linear-gradient(to right, #AF2081, #533174);
    font-weight: 600;
    border-radius: 4px;
    transition: width 0.4s ease;
}
.section-2-button{
    width: 30%;
    color: white;
    background-image: linear-gradient(to right, #AF2081, #533174);
    font-weight: 600;
    border-radius: 4px;
    transform: translateX(15px);
}

.section-1-footer-button .section-1-button:active{
    color: white;
}
.section-1-card.active-selection {
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: none;
}
.section-1-card.active-selection .card-content-wrapper {
    border: 2px solid #EFA186; 
    background-color: #fff9f5; 
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 1.2rem;
    height: 100%; 
}
.big-font{
    font-size: 3rem;
}
.delivery-date-container {
    width: 33%;
    max-height: 340px; 
    overflow-y: auto;
    transform: translateX(27rem);
}

.date-entry {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 0px;
    background: #fff;
    border: 1px solid #707070;
    cursor: pointer;
    transition: border-left 0.1s ease, transform 0.5s ease;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.popular-badge {
    background-color: #ffffff;
    color: #D75D33;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.popular-badge i {
    color: #D75D33; 
    
}
.date-entry.active-date {
    border-left: 8px solid #D75D33;
}
.first-delivery-date-info{
    font-size: 0.75rem;
    font-weight: 600;
}
#first-delivery-date{
    font-weight: 800;
}
.date-entry p {
    margin: 0;
    font-size: 1.1rem;
}

.date-day {
    font-size: 14px;
    font-weight: 700;
}

.date-val {
    font-weight: 600;
    font-size: 14px;
    color: #555;
    margin-left: 5px; 
}

.delivery-date-container::-webkit-scrollbar {
    width: 6px;
}
.delivery-date-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
.accordion-item {
    border: none;
    background: transparent;
}
.accordion-header {
    border-bottom: 1px solid #ddd; 
    padding-bottom: 7px;
}
.accordion-button {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 20px 0;
    font-weight: 500; 
    color: #000;
    font-size: 1rem;
    transition: color 0.3s ease;
    display: flex;
    justify-content: space-between;
}
.accordion-button:not(.collapsed) {
    color: #D75D33 !important; 
}
.accordion-button::after {
    content: '\f078'; 
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    background-image: none !important; 
    color: #D75D33;         
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
    color: #D75D33;
}

.accordion-body {
    padding: 15px 0 25px 0;
    color: #444;
    text-align: start;
    padding-left: 25px;
    width: 95%;
}
#customAccordion{
    width: 83%;
    transform: translateX(6rem);
}
/*Responsive*/
@media (hover: hover) {
    .section-1-card:hover .section-1-card-image-inner {
        transform: scale(1.1); 
    }
    .section-1-button:hover{
        width: 38%;
        color: white;
    }
    .date-entry:hover {
        transform: translateX(7px);
    }
}
@media (max-width: 992px){
    .section-1-heading-text{
        margin-left: 0;
        width: 100%;
    }
    .section-1-button{
        width: 50%;
    }
    .delivery-date-container{
        width: 87%;
        transform: translateX(2rem);
    }
    #customAccordion{
        width: 100%;
        transform: translateX(0px);
    }
    .section-2-button{
        width: 82%;
        transform: translateX(-2px);
        margin-top: 2rem;
    }
}
@media (max-width:767px) {
    .section-1-heading-text{
        width: 100%;
        margin-left: 0;
    }
    .section-1-card-head{
        font-size: 1rem;
    }
    .section-1-price-plan{
        font-size: 0.7rem;
    }
    .small-text{
        font-size: 0.6rem;
    }
    .section-1-price{
        font-size: 0.75rem;
    }
    .section-1-card-image{
        border-radius: 0rem;
    }
    .section-1-button{
        width: 100%;
    }
    #customAccordion{
        width: 113%;
        transform: translateX(0px);
        margin-left: -1.5rem;
    }
    .accordion-body{
        padding-left: 0;
        width: 86%;
        margin-left: 1rem;
    }
    .big-font{
        font-size: 1.7rem;
    }
    .delivery-date-container{
        width: 100%;
        transform: translateX(0px);
    }
    .section-2-button{
        transform: translateX(10px);
        width: 94%;
        margin-top: 2rem;
    }
}